/* Harmonisation générale */

:root {
  --bg-color: black;
  --bg-color2: #161616;
  --body:white;
  --body2: #dcdcdc;
  --body3: #fff;
  --body4: #dcdcdc;
  --logo: #b74b4b;
  --logo1: #9f4040;
  --main-font:'Poppins', sans-serif;
  --shadow1:rgba(183, 75, 75, 0.5);
  --shadow2:rgba(183, 75, 75, 0.7);
  --shadow3: rgba(183, 75, 75, 0.3);
  --shadow4: rgba(0, 0, 0, 0.5);
 
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color2);
  color: var(--body);
  margin: 0;
  padding: 0;
}

/* Header */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  font-size: 1rem;
  color: var(--body);
  font-weight: 400;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
  padding: 0.3rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: var(--logo);
  border-bottom: 2px solid var(--logo);
}

/* Main Content */
.page {
  margin-top: 100px;
  padding: 3rem 9%;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--body3);
  text-align: center;
}

/* Contact Form */
.contact-box {
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--bg-color2);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px var(--shadow3);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--logo);
  background-color: var(--bg-color2);
  color: var(--body);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.field:focus {
  outline: none;
  border-color: var(--logo);
}

textarea {
  resize: vertical;
}

/* Submit Button */
.btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--logo);
  color: var(--body);
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--logo1);
}

/* Responsive Design */
@media (max-width: 995px) {
  nav {
    gap: 0.1rem;
  }

  nav a {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .page {
    padding: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .field {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}
