/* Harmonisation générale */
:root {
  --bg-color: black;
  --bg-color1: #121212;
  --bg-color2: #161616;
  --form-bg: #1f1f1f;
  --body:white;
  --body2: #dcdcdc;
  --body3: #fff;
  --body4: #dcdcdc;
  --logo: #b74b4b;
  --logo1: #9f4040;
  --accent-color: #b74b4b;
  --accent-hover: #9f4040;
  --main-font:'Poppins', sans-serif;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow1:rgba(183, 75, 75, 0.5);
  --shadow2:rgba(183, 75, 75, 0.7);
  --shadow3: rgba(183, 75, 75, 0.3);
  --shadow4: rgba(0, 0, 0, 0.5);
  --shadow5: rgba(183, 75, 75, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: #ffffff;
 
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--body);
  font-family: var(--main-font);
  text-decoration: none;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/*navbar*/
.active {
  color: var(--accent-color);
}

.navbar {
  margin: 0 auto;
  background: var(--accent-color);
  width: 100%;
  border-radius: 15px;
}

nav a:hover,
nav a.active {
  color: var(--bg-color1);
  border-bottom: 2px solid var(--accent-color);
}

.navbar .menu-hamburger {
  display: flex;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 35px;
  display: none;
}

.menu-hamburger {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin: 20px 20px; /* Ajustement pour correspondre à la première navbar */
}

.navbar a {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}



/* Main Content */
.page {
  margin-top: 100px;
  padding: 3rem 9%;
}

.title {
  font-size: 2rem;
  color: var(--body);
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

/* Banner Image */
.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px var(--shadow4);
  margin-bottom: 2rem;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Portfolio Box */
.portfolio-box {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.info-box {
  flex: 1;
  max-width: 500px;
  background-color: var(--bg-color2);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px var(--shadow3);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px var(--shadow2);
}

.info-title h3 {
  font-size: 2rem;
  color: var(--logo);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--body4);
  padding: 0;
}

ul li {
  margin-bottom: 1rem;
}

ul li::before {
  content: "•";
  color: var(--logo);
  margin-right: 0.5rem;
}



/* Media queries combinées pour les écrans mobiles */
@media (max-width: 768px) {
  .portfolio-box {
    flex-direction: column;
    align-items: center;
  }

  .info-box {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  /* Apparition du menu burger */
  .navbar {
    padding: 0;
  }

  .navbar .menu-hamburger {
    display: block;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); /* Blanc transparent */
    backdrop-filter: blur(7px); /* Flou de l'arrière-plan */
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    transition: 0.5s ease;
  }

  .nav-links a {
    color: black;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    font-size: 1.6rem;
    margin: 15px 0;
  }
}

/* S'il y a d'autres règles pour max-width: 800px, elles seraient ajoutées ici */
