@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* Harmonisation générale */
:root {
  --bg-color: black;
  --bg-color1: #121212;
  --bg-color2: #161616;
  --form-bg: #1f1f1f;
  --body:white;
  --body2: #dcdcdc;
  --body3: #fff;
  --body4: #dcdcdc;
  --logo: #b74b4b;
  --logo1: #9f4040;
  --accent-color: #b74b4b;
  --accent-hover: #9f4040;
  --main-font:'Poppins', sans-serif;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow1:rgba(183, 75, 75, 0.5);
  --shadow2:rgba(183, 75, 75, 0.7);
  --shadow3: rgba(183, 75, 75, 0.3);
  --shadow4: rgba(0, 0, 0, 0.5);
  --shadow5: rgba(183, 75, 75, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: #ffffff;
 
}
/* Styles de base */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--main-font);
  background-color: var(--bg-color1);
  color: var(--text-color);
  font-family: "Poppins" sans-serif;
  text-decoration: none;
  
}

/* Header */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 5%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}




/*navbar*/
.active {
  color: var(--accent-color)
}
.navbar {
  margin: 0 auto;
  background: var(--accent-color);
  width:100%;
  border-radius: 15px;
}
nav a:hover,
nav a.active {
  color: var(--bg-color1);
  border-bottom: 2px solid var(--accent-color);
}

.navbar .menu-hamburger {
  display: flex;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 35px;
  display: none;
}


.menu-hamburger {
  cursor: pointer;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin: 20px 20px;
}
.navbar a {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
}
/*menu burger*/
.navbar .menu-hamburger {
  display: flex;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 35px;
  display: none;
}


.menu-hamburger {
  cursor: pointer;
}

section.book {
  padding: 7rem 9% 5rem;
  min-height: 100vh;
}

.home-content {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: var(--body);
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.workeduc-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois éléments par ligne sur les grands écrans */
  gap: 3rem;
  margin-top: 3rem;
}

.workeduc-content {
  background-color: var(--bg-color2);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px var(--shadow1);
  text-align: center;
  transition: transform 0.3s ease;
}

.workeduc-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--shadow5);
}

.workeduc-content .year {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--body);
  font-size: 1.4rem;
  font-weight: 500;
}

.workeduc-content h3 {
  font-size: 2.4rem;
  color: var(--logo);
  margin-bottom: 1rem;
}

.workeduc-content p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--body);
}

.workeduc-content a {
  font-size: 1.6rem;
  color: var(--logo);
  text-decoration: underline;
  transition: 0.3s ease;
}

.workeduc-content a:hover {
  color: var(--body);
  text-decoration: none;
}


/* Media Query pour les écrans encore plus petits */

@media (max-width: 768px) {
  /* Title */
  .title {
    font-size: 4rem;
  }

  /* Work Educations */
  .workeduc-content {
    padding: 1.5rem;
  }

  .workeduc-content h3 {
    font-size: 2rem;
  }

  .workeduc-content p {
    font-size: 1.4rem;
  }

  .workeduc-content a {
    font-size: 1.4rem;
  }

  .workeduc-box {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Ajuste la taille des éléments pour les petits écrans */
  }

  /* Navbar */
  .navbar {
    padding: 0;
  }

  /* Apparition du menu-burger */
  .navbar .menu-hamburger {
    display: block;
  }

  /* Navigation Links */
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2); /* Fond blanc transparent */
    backdrop-filter: blur(7px); /* Flou de l'arrière-plan */
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    transition: 0.5s ease;
  }

  .nav-links a {
    color: black;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    font-size: 1.6rem;
    margin: 15px 0;
  }
}
